 
  @import url('https://fonts.googleapis.com/css2?family=Farsan&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Farsan', cursive;
}
body{
    background: rgb(34, 193, 195);
    background: linear-gradient(0deg, rgb(34, 193, 195,1)0%,rgb(121,32,153,1)86%);
    background-attachment: fixed;
    margin: 0;
}
#form{
    width: 400px;
    margin: 5vh auto 0 auto;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 40px;

}
.boxContainer h2{
    text-align: center;
    text-transform: capitalize;
    font-size: 40px;
    color: #792099;
}
#form button{
    background-color: #792099;
    color: white;
    border:  1px solid #792099;
    border-radius: 8px;
    padding: 5px;
    font-size:20px;
    margin: 20px 0px;
    width: 100%;
}
.inputs{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.inputs input{
    border-radius: 5px;
    font-size: 20px;
    /* margin-top: 8px; */
    padding: 3px;
    outline: none;
    border: 1px solid black; 
}
.inputs label{
    font-size: 20px;
    font-weight: bolder;
}
.inputs .error{
    color: red;
    font-size: 18px;
    /* margin-top: 5px; */
}
.inputs.success input{
    border-color: #0cc477;
}
.inputs.error input{
    border-color: red;
}